
/*----------------------------- BODy -----------------------------*/

body { /*set body styles*/
	background-color:  chocolate;
	color: black; /*text color*/
	text-align: center;
}
/*----------------------------- BODY CONTAINERS -----------------------------*/

.main {
  margin-top: 150px; /*prevent top container overlap with menu*/
  text-align: center;
}

.sub-main {
	max-height: 30%;
}
/*----------------------------- GENERAL -----------------------------*/


img { /*set image style*/
	border-radius: 70%; /*rounded images*/
	margin-left: auto; 
	margin-right: auto;
	display block; /*lock element with auto center thru auto l/r margins*/
	width: 25%;
	padding: 30px;

}

h1 {

	font-family:  "Rockwell", serif;
}

h3 {
	font-family: "Courier New", monospace;

}

/*----------------------------- MENU -----------------------------*/
/*Menu that scrolls with page & tops active/hover page with a line*/
.navbar {
	overflow: hidden;
	margin: auto;
	text-align: center;
	height: 150px.px;
	/*fixed menu top screen*/
	position: fixed;
	width: 100%;
	top: 0;
	background-color:  chocolate;
}

.navbar a{
	font-family: "Century Gothic", sans-serif;
 	display: inline-block;
	text-align:  center;
	list-style: none;

	padding: 10px 10px;

	font-size: 24px;
	text-decoration: none;
	color: black;

	border-bottom: 3px solid transparent;

}

.navbar a:visited { /*set visited link style */
	
	color: darkgreen; 
}

.navbar a:hover { /*set hover link style */
	border-bottom: 3px solid darkgreen;

}

.navbar a.active { /*set unvisited link style */
	border-bottom: 3px solid darkgreen;
}
/*----------------------------- MENU END -----------------------------*/

.footer {
	margin: 50px;
	width: 98%; /*need with to align using margin auto*/
	margin: auto; /*align center*/
	margin-top: 10px;
	position: absolute; /*absolute position @ bottom*/
	bottom: 10px;
	text-align: center;
	font-family: "Copperplate", fantasy;
	font-size: 150%;
}


.footer a:link { /*set unvisited link style */
	text-decoration: none;
	color: darkgreen; /*darker blue*/
	font-weight: bold;

}

.footer a:visited { /*set visited link style */
	text-decoration: none;
	color: darkgreen; /*lighter blue*/
}

.footer a:hover { /*set hover link style */
	text-decoration: underline;
	color: darkgreen; /*darker blue*/
	font-weight: bold;
}


