body { /*set body styles*/
	padding-top: 30px;
	font-family: "Century Gothic", sans-serif;
	background-color:  black;
	color: white; /*text color*/
	text-align: center;
}

a:link { /*set unvisited link style */
	font-size: 24px;
	text-decoration: none;
	color: #3399ff; /*darker blue*/
}

a:visited { /*set visited link style */
	font-size: 24px;
	text-decoration: none;
	color: #cce6ff; /*lighter blue*/
}

a:hover { /*set hover link style */
	font-size: 26px;
	text-decoration: underline;
	color: #3399ff; /*darker blue*/
}

img { /*set image style*/
	border-radius: 70%; /*rounded images*/
	margin-left: auto; 
	margin-right: auto;
	display block; /*lock element with auto center thru auto l/r margins*/
	width: 30%;
}

h1 {
	font-family:  "Rockwell", serif;
}

#bottom {
	width: 98%; /*need with to align using margin auto*/
	margin: auto; /*align center*/
	position: absolute; /*absolute position @ bottom*/
	bottom: 10px;
	text-align: center;
}
