
/*--------------- FONT ---------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
/*--------------- NAVIGATION BAR ---------------*/
nav{
  display: flex;
  height: 70px;
  background: #8FAC5A;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;

  /*fixed menu top screen*/
  position: fixed;
  width: 100%;
  top: 0;

}

/* website title is the logo*/
nav .logo{ 
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}

/*navigation bar menu style*/
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
/*nav bar links*/
nav ul li{
  margin: 0 5px;
}

/*nav bar links*/
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
/*nav bar active or hover style*/
nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: #fff;
}
/*nav bar menu buttons*/
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}

input[type="checkbox"]{
  display: none;
}

/*--------------- DEVICE SCALING ---------------*/

@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}

@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }

  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }

  #click:checked ~ ul{
    left: 0;
  }

  nav ul li{
    width: 100%;
    margin: 40px 0;
  }

  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }

  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
    border-bottom: 2px solid black;
  }
}

/*--------------- CONTENT ---------------*/
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}

.content div{
  font-size: 40px;
  font-weight: 700;
}

/*--------------- CONTAINERS ---------------*/
/* container (body sections) styles*/
.containerTOP{
  margin-top: 70px; /*prevent top container overlap with menu*/
  text-align: center;
  background: #f5f5f5;
}

.containerEVEN {
  text-align: center;
  background: #ffffff;
}

.containerODD {
  text-align: center;
  background: #f5f5f5;
}

.header{
  padding-top: 30px;
  color: #444;
  font-size: 20px;
  margin: auto;
  line-height: 50px;
}

/*additional css style for sub-containers e.g. team members*/
.sub-container{
  max-width: 1200px;
  margin: auto;
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*--------------- MEMBERS ---------------*/

.members{
  margin: 10px;
  padding: 22px;
  max-width: 30%;
  cursor: pointer;
  transition: 0.4s;
  box-sizing: border-box;
}

.members:hover{
  background: #87CEFA;
  border-radius: 25px;
}

/*team member photographs*/
.members img{
  border-radius: 70%; /*oval*/
  width: 190px;
  height: 215px;
}

.name{
  padding: 12px;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}

/*cursive text design*/
.cursive{
  font-style: italic;
  color: #888;
}

.about{
  margin: 20px 0;
  font-weight: lighter;
  color: #4e4e4e;
}

/*--- social links ---*/

.social-links{
  margin: 14px;
}

.social-links a{
  display: inline-block;
  height: 30px;
  width: 30px;
  transition: .4s;
}

.social-links a:hover{
  transform: scale(1.75)
}

.social-links a i{
  color: rgb(30, 44, 172);
}

/*--- device scaling for members ---*/

@media screen and (max-width: 600px){
  .members{
    max-width: 100%;
  }
}
