body { /*set body styles*/
	padding-top: 30px;
	font-family: "Goudy Old Style", serif;
	background-color:  black;
	color: white; /*text color*/
	text-align: center;
}

a:link { /*set unvisited link style */
	text-decoration: underline;
	color: grey; /*darker blue*/
}

a:visited { /*set visited link style */
	text-decoration: none;
	color: grey; /*lighter blue*/
}

a:hover { /*set hover link style */
	text-decoration: underline;
	color: grey; /*darker blue*/
}

img { /*set image style*/
	border-radius: 20%; /*rounded images*/
	margin-left: auto; 
	margin-right: auto;
	display block; /*lock element with auto center thru auto l/r margins*/
	width: 20%;
	padding: 20px;
}

#leaving_kisa {
	width: 98%; /*need with to align using margin auto*/
	margin: auto; /*align center*/
	position: absolute; /*absolute position @ bottom*/
	bottom: 10px;
	text-align: center;
	color: red;
	font-family: "Copperplate", fantasy;
	text-decoration: line-through;
}
