/*originally made for Momo page, butr taken over for Asya's page*/

body { /*set body styles*/
	padding-top: 30px;
	font-family: "Courier New", monospace;
	background-color:  chocolate;
	color: black; /*text color*/
	text-align: center;
}

a:link { /*set unvisited link style */
	text-decoration: none;
	color: darkgreen; /*darker blue*/
	font-weight: bold;
}

a:visited { /*set visited link style */
	text-decoration: none;
	color: darkgreen; /*lighter blue*/
}

a:hover { /*set hover link style */
	text-decoration: underline;
	color: darkgreen; /*darker blue*/
	font-weight: bold;
}

img { /*set image style*/
	border-radius: 70%; /*rounded images*/
	margin-left: auto; 
	margin-right: auto;
	display block; /*lock element with auto center thru auto l/r margins*/
	width: 25%;
	padding: 30px;

}

h1 {
	font-family: "Copperplate", fantasy;
}


#bottom {
	width: 98%; /*need with to align using margin auto*/
	margin: auto; /*align center*/
	position: absolute; /*absolute position @ bottom*/
	bottom: 10px;
	text-align: center;
	font-family: "Copperplate", fantasy;
	font-size: 150%;


}
